<!--player_history.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player History</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='player_history.css') }}">
    <link rel="icon" href="/static/img/Logo/Logo-nav.png" type="image/x-icon">
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom-padding fixed-top">
      <a class="navbar-color d-flex align-items-center" href="/">
        <img src="/static/img/Logo/Logo-nav.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
        Clash Finder
      </a>
    </nav>
</header>
    <div class="container main-content">
    {% for match in match_history_list_sorted %}
        <div class="card mb-3 {% if match[0]['Match Result'] == 'Win' %}card-win{% elif match[0]['Match Result'] == 'Lose' %}card-loss{% else %}card-draw{% endif %} ">
                <div class="row row-margin5px ">
                    <div class="col-md-2">
                        <p title='{{ match[0]["Start Date"] }}'>Date: {{ match[0]["Start Game Ago"] }}</p>
                        <p>Duration: {{ match[0]["Game Duration"] }}</p>
                        <p>Result: {{ match[0]["Match Result"] }}</p>
                        <p class="kda-text">KDA: {{ match[0]["KDA"] }}</p>
                    </div>

                    <div class="col-md-3">
                        <div class="upper-part d-flex flex-row">
                            <!-- g1: Champion icon -->
                            <div class="g1-spells-runes d-flex flex-column justify-content-around">
                                <img src="{{ url_for('static', filename='img/champion/' ~ match[0]['Champion'] ~ '.png') }}" alt="{{ match[0]['Champion'] }}" class="icons_main">
                            </div>
                            <!-- g1: Runes and Summoner Spells -->
                            <div class="g1-spells-runes d-flex flex-column justify-content-around">
                                <div class="d-flex">
                                    <img src="{{ url_for('static', filename='img/spells/summoner/' ~ match[0]['Summoner Spells'][0][0] ~ '.png') }}" alt="Spell1" class="spell-icon">
                                    <img src="{{ url_for('static', filename='img/runes_and_shards/' ~ match[0]['Primary Rune'][0] ~ '.png') }}" alt="Primary Rune" class="rune-icon">

                                </div>
                                <div class="d-flex">
                                    <img src="{{ url_for('static', filename='img/spells/summoner/' ~ match[0]['Summoner Spells'][1][0] ~ '.png') }}" alt="Spell2" class="spell-icon">
                                    <img src="{{ url_for('static', filename='img/runes_and_shards/' ~ match[0]['Secondary Rune Path'][0] ~ '.png') }}" alt="Secondary Rune" class="rune-icon">
                                </div>
                            </div>

                            <!-- g3: CS and other stats -->

                        </div>
                        <!-- Dolny div: Itemy -->
                        <div class="lower-part items-container">
                            {% for item in match[0]["Items"] %}
                                {% if item[0] != 0 %}
                                    <img src="{{ url_for('static', filename='img/item/' ~ item[0] ~ '.png') }}" alt="Item" class="item-icon">
                                {% else %}
                                    <div class="item-icon empty-slot"></div>
                                {% endif %}
                            {% endfor %}
                            {% set items_count = match[0]["Items"]|length %}
                            {% for i in range(7 - items_count) %}
                                <div class="item-icon empty-slot"></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-1">
                        <p class="cs-text" title="Creep Score">CS : {{ match[0]["CS"] }}</p>
                        <p class="stats-text" title="Control Wards">C.W : {{ match[0]["Control Wards"] }}</p>
                        <p class="stats-text" title="Kill Participation">K.P : {{ match[0]["Kill Participation"] }}</p>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-6 team">
                                {% for player in match[:5] %}
                                    <img src="{{ url_for('static', filename='img/champion/' ~ player['Champion'] ~ '.png') }}" alt="{{ player['Champion'] }}" class="team-icon">
                                    {% if player['summoner_tag'] %}
                                        {% set player_name = player['Summoner Name'] ~ '#' ~ player['summoner_tag'] %}
                                    {% else %}
                                        {% set player_name = player['Summoner Name'] %}
                                    {% endif %}
                                    <a href="/player_stats/{{ player_name.replace('#', '--').replace(' ', '-') }}/{{ match_history_list_sorted[0][0]['SERVER'].lower().replace(' ', '-').replace('&', 'and') }}" class="player-name">
                                        {{ player_name }}
                                    </a>
                                    <br>
                                {% endfor %}
                            </div>
                            <div class="col-6 team">
                                {% for player in match[5:] %}
                                    <img src="{{ url_for('static', filename='img/champion/' ~ player['Champion'] ~ '.png') }}" alt="{{ player['Champion'] }}" class="team-icon">
                                    {% if player['summoner_tag'] %}
                                        {% set player_name = player['Summoner Name'] ~ '#' ~ player['summoner_tag'] %}
                                    {% else %}
                                        {% set player_name = player['Summoner Name'] %}
                                    {% endif %}
                                    <a href="/player_stats/{{ player_name.replace('#', '--').replace(' ', '-') }}/{{ match_history_list_sorted[0][0]['SERVER'].lower().replace(' ', '-').replace('&', 'and') }}" class="player-name">
                                        {{ player_name }}
                                    </a>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col button-column">
                        <button class=" btn-primary btn-color toggle-details" id="All-Player-Button-Match-{{loop.index}}">Show Stats</button>
                    </div>
                </div>
                <div class="row row-margin5px margin-0" hidden>
                    <div class="col-md-6">
                        <div class="upper-part d-flex flex-row">
                            <div class="col-md-2">
                                C
                            </div>
                            <div class="col-md-2">
                                KDA
                            </div>
                            <div class="col-md-1">
                                CS
                            </div>
                            <div class="col-md-1">
                                C.W
                            </div>
                            <div class="col-md-7">
                            Items
                            </div>
                        </div>
                        {% for player in match[:5] %}
                        <div class="upper-part d-flex flex-row">
                            <!-- g1: Champion icon -->
                            <div class="col-md-1">
                                <img src="{{ url_for('static', filename='img/champion/' ~ player['Champion'] ~ '.png') }}" alt="{{ player['Champion'] }}" class="array-icon-1">
                            </div>
                            <!-- g1: Runes and Summoner Spells -->
                            <div class="col-md-1">
                                <div class="d-flex">
                                    <img src="{{ url_for('static', filename='img/spells/summoner/' ~ player['Summoner Spells'][0][0] ~ '.png') }}" alt="Spell1" class="array-icon-2">
                                    <img src="{{ url_for('static', filename='img/runes_and_shards/' ~ player['Primary Rune'][0] ~ '.png') }}" alt="Primary Rune" class="array-icon-2">
                                </div>
                                <div class="d-flex">
                                    <img src="{{ url_for('static', filename='img/spells/summoner/' ~ player['Summoner Spells'][1][0] ~ '.png') }}" alt="Spell2" class="array-icon-2">
                                    <img src="{{ url_for('static', filename='img/runes_and_shards/' ~ player['Secondary Rune Path'][0] ~ '.png') }}" alt="Secondary Rune" class="array-icon-2">
                                </div>
                            </div>
                            <div class="col-md-2">
                                {{player['KDA']}}
                            </div>
                            <div class="col-md-1">
                                {{player['CS']}}
                            </div>
                            <div class="col-md-1">
                                {{ player["Control Wards"] }}
                            </div>
                            <div class="col-md-7">
                            {% for item in player["Items"] %}
                                {% if item[0] != 0 %}
                                    <img src="{{ url_for('static', filename='img/item/' ~ item[0] ~ '.png') }}" alt="Item" class="array-icon-1">
                                {% else %}
                                    <div class="array-icon-1 empty-slot"></div>
                                {% endif %}
                            {% endfor %}
                            {% set items_count = player["Items"]|length %}
                            {% for i in range(7 - items_count) %}
                                <div class="array-icon-1 empty-slot"></div>
                            {% endfor %}
                            </div>



                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                         <div class="upper-part d-flex flex-row">
                            <div class="col-md-2">
                                C
                            </div>
                            <div class="col-md-2">
                                KDA
                            </div>
                            <div class="col-md-1">
                                CS
                            </div>
                            <div class="col-md-1">
                                C.W
                            </div>
                            <div class="col-md-7">
                            Items
                            </div>
                        </div>
                        {% for player in match[5:] %}

                        <div class="upper-part d-flex flex-row">
                            <!-- g1: Champion icon -->
                            <div class="col-md-1">
                                <img src="{{ url_for('static', filename='img/champion/' ~ player['Champion'] ~ '.png') }}" alt="{{ player['Champion'] }}" class="array-icon-1">
                            </div>
                            <!-- g1: Runes and Summoner Spells -->
                            <div class="col-md-1">
                                <div class="d-flex">
                                    <img src="{{ url_for('static', filename='img/spells/summoner/' ~ player['Summoner Spells'][0][0] ~ '.png') }}" alt="Spell1" class="array-icon-2">
                                    <img src="{{ url_for('static', filename='img/runes_and_shards/' ~ player['Primary Rune'][0] ~ '.png') }}" alt="Primary Rune" class="array-icon-2">
                                </div>
                                <div class="d-flex">
                                    <img src="{{ url_for('static', filename='img/spells/summoner/' ~ player['Summoner Spells'][1][0] ~ '.png') }}" alt="Spell2" class="array-icon-2">
                                    <img src="{{ url_for('static', filename='img/runes_and_shards/' ~ player['Secondary Rune Path'][0] ~ '.png') }}" alt="Secondary Rune" class="array-icon-2">
                                </div>
                            </div>
                            <div class="col-md-2">
                                {{player['KDA']}}
                            </div>
                            <div class="col-md-1">
                                {{player['CS']}}
                            </div>
                            <div class="col-md-1">
                                {{ player["Control Wards"] }}
                            </div>
                            <div class="col-md-7">
                            {% for item in player["Items"] %}
                                {% if item[0] != 0 %}
                                    <img src="{{ url_for('static', filename='img/item/' ~ item[0] ~ '.png') }}" alt="Item" class="array-icon-1">
                                {% else %}
                                    <div class="array-icon-1 empty-slot"></div>
                                {% endif %}
                            {% endfor %}
                            {% set items_count = player["Items"]|length %}
                            {% for i in range(7 - items_count) %}
                                <div class="array-icon-1 empty-slot"></div>
                            {% endfor %}
                            </div>



                        </div>
                        {% endfor %}
                    </div>
                </div>

        </div>
    {% endfor %}

            <form action="load_more_matches" id="addUpp">
            <button type="button" class=" btn-primary btn-2" id="loadMoreMatchesButton">Show more</button>
                <select name="number" id="number-list" class="form-control slt-nr">
                    <option value="1">1</option>
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <input type="hidden" id="server" name="server" value="{{match_history_list_sorted[0][0]['SERVER']}}">
                <input type="hidden" id="summonerName" name="summonerName" value="{{match_history_list_sorted[0][0]['summoner_name']}}">
                <input type="hidden" id="summonerTag" name="summonerTag" value="{{match_history_list_sorted[0][0]['summoner_tag']}}">

            </form>

</div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/player_history.js') }}"></script>

</body>
</html>