* {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f1c40f;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    border: 2px solid #f1c40f; /* Ładne żółte obramowanie */
    border-radius: 10px; /* Zaokrąglenie rogów dla bardziej nowoczesnego wyglądu */
    padding: 20px; /* Dodanie odstępów wewnątrz elementów dla lepszej czytelności */
    margin: 10px 0; /* Dodanie odstępów między elementami */
    width: 80%; /* Ograniczenie szerokości, aby nie rozciągały się na całą szerokość strony */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Delikatny cień dla głębi */
    background-color: #1e1e1e; /* Nieco jaśniejsze tło niż tło strony dla kontrastu */
}

a {
    color: #3498db; /* Niebieski kolor linków */
    text-decoration: none; /* Usunięcie podkreślenia */
}

a:hover {
    text-decoration: underline; /* Dodanie podkreślenia przy najechaniu dla lepszej widoczności */
}
