* {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f1c40f;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
body>* {
    display: flex;
}
.button {
    background-color: #483c7c;
    color: #d4ca39;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}
.button:hover {
    background-color: #3a2f63;
    transform: scale(1.05);
}
input, select, .button {
    margin-left: 1%;
    border: 2px solid #f1c40f;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

input:hover, select:hover, .button:hover {
    border-color: #3498db;
}

input:focus, select:focus {
    border-color: #483c7c;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #121212 inset !important; /* Zmienia kolor tła */
    box-shadow: 0 0 0 30px #121212 inset !important; /* Zmienia kolor tła */
    -webkit-text-fill-color: #f1c40f !important; /* Zmienia kolor czcionki */
}