/* style.css */
body {
    background-color: #010A13;
    color: #C89B3C;
}


.btn-primary {
    background-color: #6441A5;
    border-color: #503085;
    color: #C89B3C;
    transition: background-color 1s, border-color 0.5s, color 1s;
}
.btn-primary:hover {
    background-color: #503085;
    border-color: #6441A5;
    color: #C8AA6E;
}
.navbar-custom-padding{
    padding:0;
    margin:0;
}
.navbar-color{
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    color:#785A28;
}

.container.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 95vh;
    padding-top: 0;
    padding-bottom: 0;
}
.uppercase {
        text-transform: uppercase;
    }

.form-control, .form-select {
    background-color: #1E2328;
    border: 1px solid #444;
    color: #C89B3C;
}
.form-label {
    min-width: 80px;
}
.form-control:focus {
    background-color: #1E2328;
    color: #C89B3C;
    border-color: #ffae28;
    box-shadow: none;
}

